Package: com.udevs.bakgrunnur
Name: Bakgrunnur
Depends: mobilesubstrate (>= 0.9.5000), firmware(>=13.0), com.opa334.ccsupport, com.opa334.altlist, com.udevs.vexillarius
Version: 1.7.4
Architecture: iphoneos-arm
Description: Truly backgrounding your apps
Maintainer: udevs
Author: udevs
Section: Tweaks
Icon: https://udevsharold.github.io/repo/depictions/com.udevs.bakgrunnur/icon/icon.png
Depiction: https://udevsharold.github.io/repo/depictions/?p=com.udevs.bakgrunnur
